
*{
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  background-color: rgb(158, 116, 0);
}
.button {
  color: #fff;
  font-size: 24px;
  text-shadow: none;
  height: 60px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}
.minSetButton {
  color: #fff;
  background-color: rgb(102, 75, 0);
  font-size: 24px;
  text-shadow: none;
  display: inline-block;
  width: 205px;
  height: 60px;
  margin-right: 12.5px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
}
#body {
  margin-top: 320px;
}

#fiveMin {
  margin-right: 0;
}
#milsec {
  font-size: 20px;
}
#start {
  background-color: rgb(102, 75, 0);
  width: 640px;
}

#startShort {
  background-color: rgb(102, 75, 0);
  width: 417.5px;
  margin-right: 12.5px;
}
#settingArea {
  margin: 0 auto;
  width: 640px;
}
#pause {
  background-color: rgb(102, 75, 0);
  width: 417.5px;
  margin-right: 12.5px;
}
#reset {
  background-color:  rgb(102, 75, 0);
  width: 210px;
}

#timeArea {
  font-size: 160px;
  margin: 0 auto;
  padding-top: 2px;
  width: 640px;
}

#alarmStop {
  background-color:  rgb(102, 75, 0);
  width: 417.5px;
  margin-right: 12.5px;
}

i {
  font-weight: normal;
  background-color: rgb(102, 75, 0);
  text-shadow: none;
  vertical-align: 5px;
}
